:root {
   --background: #9ED25E;
   --background-input: #FFF;
   --link: #5A5A5A;
   --background-button: #2C2C2C;
   --text: #757575;
   --secondary-background: #DDF5BE;
}

body {
   background: var(--secondary-background);
   height: 100%;
   margin: 0;
}



.img-produto .icone {
   width: 40px;
   height: 40px;
   position: relative;
   top: 30px;
   left: 30px;
   background-color: var(--background-input);
   position: absolute;
   border-radius: 50px;
   z-index: 1;
}

.img-produto .icone img {
   width: 16px;
   height: 16px;
}

.img-produto .produto {
   width: 430px;
   height: 356px;
   position: relative;
}

.list-items {
   width: 100%;
   height: auto;
   /* background: green; */
   display: flex;
   flex-direction: column;
}

.list-items .items {
   width: 100%;
   height: 100px;
   /* background: red; */
   margin: 10px 0px;
   display: flex;
   border-bottom: 1px solid var(--background);
}

.list-items .items .subtitle-item {
   display: flex;
   align-items: center;
   justify-content: space-between;
   /* background: blue; */
   width: 330px;
   height: 30px;
   padding: 0px 10px;
   margin-bottom: 0px;
}

.list-items .items .sub-informations {
   height: 50px;
   /* background: blueviolet; */
   margin: 0;
   padding: 0px 10px;
}

.list-items .items .sub-informations h3 {
   line-height: 10px;
}

.list-items .items .list-items-img {
   background: aqua;
   height: 80px;
   width: 80px;
}

.list-items .items .subtitle-item img {
   width: 25px;
   height: 25px;
}


.options button{
   height: 50px;
   width: 90%;
   margin-bottom: 100px;
   align-content: center;
   margin-left: 5%;
   border-radius: 20px;
   border: none;
   color: var(--link);
}

.footer {
   margin: 0;
   position: fixed;
   bottom: 0px;
   display: flex;
   height: 80px;
   /* background: red; */
   width: 100%;
   background: var(--background-input);
   justify-content: space-around;
}

.footer a {
   text-decoration: none;
   color: var(--text);
}

.footer img {
   width: 18px;
   margin-bottom: -15px;
}

.footer .footer-content {
   display: flex;
   justify-content: space-between;
}

.footer .footer-content .footer-produtos {
   width: 92px;
   text-align: center;
}

.footer .footer-content .footer-busca {
   width: 92px;
   text-align: center;
}

.footer .footer-content .footer-carrinho {
   width: 92px;
   text-align: center;
}

.footer .footer-content .footer-perfil {
   width: 92px;
   text-align: center;
}